{% extends 'base.html' %}
{% block title %}Homepage{% endblock title %}
{% block style %} <link rel="stylesheet" href="{{url_for('static', filename='homepage.css')}}"> {% endblock style %}
{% block content %}
    <div class="container">
        <div class="block">
            <div class="block-name">Add a New Expense</div>
            <div class="block-content"><button id="addExpenseBtn">+</button></div>
        </div>
        <div class="block">
            <div class="block-name">Block-Name</div>
        </div>
        <div class="block">
            <div class="block-name">Block-Name</div>
        </div>
        <div class="block">
            <div class="block-name">Block-Name</div>
        </div>

        <div class="add-expense-form">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-row close-btn">
                    <button id="closeAddExpenseFormBtn">X</button>
                </div>
                <div class="form-row">
                    <div class="half-form-row">
                        {{ form.amount.label }}
                    </div>
                    <div class="half-form-row">
                        {{ form.amount() }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="half-form-row">
                        {{ form.date.label }}
                    </div>
                    <div class="half-form-row">
                        {{ form.date() }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="half-form-row">
                        {{ form.category.label }}
                    </div>
                    <div class="half-form-row">
                        {{ form.category() }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="half-form-row">
                        {{ form.payment_method.label }}
                    </div>
                    <div class="half-form-row">
                        {{ form.payment_method() }}
                    </div>
                </div>
                <div class="form-row">
                    {{ form.submit() }}
                </div>
            </form>
        </div>

        <a href="{{url_for('settings', id=current_user.id)}}">
            <i class="fa-solid fa-gear open-settings"></i>
        </a>
    </div>
{% endblock  %}
{% block script %}
    <script src="{{url_for('static', filename='homepage.js')}}"></script>
{% endblock script %}