{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block style %} <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}"> {% endblock style %}
{% block content %}
    <div class="container">
        <div class="login-form">
            <form action="/" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-row">
                    {{ form.username(placeholder='Username') }}
                    {% if form.username.errors %}
                        <span class="error-form-message">{{ form.username.errors[0] }}</span>
                    {% endif %}
                </div>
                <div class="form-row">
                    {{ form.password(placeholder='Password') }}
                    {% if form.password.errors %}
                        <span class="error-form-message">{{ form.password.errors[0] }}</span>
                    {% endif %}
                </div>
                <div class="form-row">
                    {{ form.submit() }}
                </div>
            </form>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="error-flash-message">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
{% endblock content %}